.slack-header {
  width: 100%;
  height: 7.1vh;
  background-color: #300530;
  display: flex;
  justify-content: space-between;
}

.main-div {
  width: 100%;
  height: 92.9vh;
  display: flex;
}

.channel {
  color: rgba(255, 255, 255, 0.781);
  font-size: 15px;

  font-weight: bold;
  margin: 0px 5px;
  border-radius: 5px;
}



.channel-name {
  color: rgba(255, 255, 255, 0.781);
  font-size: 15px;

  font-weight: bold;
 
  
}

.input-div {
  position: absolute;
  bottom: 5px;
  display: flex;
width:20%;
  flex-direction: column;
 align-items: center;
  
}

.test {
  width:100%;
  position: absolute;
  bottom:10px;
}
.channel-input {
  width: 95%;
 display: block;
  margin: auto;
border:none;
border-radius: 10px;
outline:none;
}

.channel:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.212);
}

.hash {
  font-size: 17px;
 
  margin-left: 18px;
}
.channels-title {
  color: rgba(255, 255, 255, 0.507);
  font-weight: bold;
  cursor: pointer;
}
.arrow-right {
  color: rgba(255, 255, 255, 0.753);
  margin-right: 9px;
  font-size: 13px;
  cursor: pointer;
}


.left-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 17px;
  border-top: 1px solid rgba(128, 128, 128, 0.322);
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}
.channel-header {
  align-items: center;


}
.note {
  background-color: white;
  padding: 3px 9px 5px 9px;
  border-radius: 50%;
  font-size: 19px;
  font-weight: bold;
}

.left-div {
  background-color: rgb(66, 2, 66);
  height: 92.9vh;
  width: 250px;
  position: relative;
}

.center-nav {
  flex: 0.6;
  display: flex;
  align-items: center;
}

.left-nav {
  flex: 0.2;
}
.nav-input {
  width: 95%;
  border: none;
  background-color: rgba(128, 128, 128, 0);
  outline: none;
  font-size: 14px;
  color: white;
}

.right-nav {
  flex: 0.2;
  justify-content: end;
  display: flex;
  align-items: center;
}
.clock {
  color: white;
  margin-right: 30px;
  font-size: 20px;
}

.search-div {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.301);
  border-radius: 4px;
  padding: 2px 4px;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  margin: 0px 13px 0px 0px;
}

.search {
  color: rgba(255, 255, 255, 0.699);
  font-size: 18px;
  margin: auto;
}

.circle {
  color: white;
  font-size: 22px;
  margin-right: 18px;
}



@media screen and (max-width: 1000px) {
  .left-div {
    background-color: rgb(66, 2, 66);
    height: 92.9vh;
    width: 220px;
  }
}
@media screen and (max-width: 700px) {
  .left-div {
    background-color: rgb(66, 2, 66);
    height: 92.9vh;
    width: 200px;
  }
}

@media screen and (max-width: 673px) {
  .left-div {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .left-nav {
    display: none;
  }
  .center-nav {
    flex: 0.8;
    display: flex;
    align-items: center;
  }

  .right-nav {
    flex: 0.2;
    justify-content: end;
    margin-left: 5px;
  }

  .slack-header {
    width: 100%;
    height: 7.1vh;
    background-color: #300530;
    display: flex;
    padding: 0px 10px;
    justify-content: space-between;
  }
}
